<div class="mt-2">
  <h4>Add post</h4>
  <form (ngSubmit)="savePost()" #f="ngForm">
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" name="author" id="author" class="form-control" ngModel/>
    </div>
    <div class="form-group">
      <label for="message">Text:</label>
      <textarea id="message" name="message" class="form-control" ngModel></textarea>
    </div>
    <button type="submit" class="btn-lg btn-info" [disabled]="isUploading">
      <span *ngIf="!isUploading">
        ADD
      </span>
      <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
      </span>
    </button>
  </form>
</div>
