<div *ngIf="!isFetching; else loading">
  <div class="card text-white bg-info my-2" *ngFor="let post of posts">
    <div class="card-header">
      {{post.datetime}}
    </div>
    <div class="card-body">
      <h5 class="card-text">Author: {{post.author}}</h5>
      <p class="card-title">Message: {{post.message}}</p>
    </div>
  </div>
</div>
<ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
</ng-template>

